/* remove indentation of list items */

ul {
    margin-left: auto;
    margin-right: auto;
}


/* remove traditional bullet from front of list items */


/* Step 3 below here */

li {
    list-style-type: none;
    background-color: #eee;
    border: 1px solid #c3c3c3;
    padding: 10px 0px 10px 5px;
}


/* Step 5 below here */

.done {
    background-color: rgb(1, 71, 1);
}

.remove {
    background-color: rgb(184, 6, 6);
}


/* mark task as finished */


/* Step 6 below here */

li.finished {}

input[type="text"] {
    font-size: 18px;
    width: 94%;
    padding: 10px;
    background-color: rgb(140, 188, 233);
}

input[type="button"] {
    font-size: 1.2em;
    margin: -6px 4px 0px 0px;
}

#addButton {
    padding: 10px;
}


/* Step 10 below here */

.aboutcolor {}


/* Step 12 below here */

#divabout {}